<div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-grid">
        <mat-form-field class="half-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            @if (form.get('name')?.hasError('required')) {
            <mat-error>
                Name is required
            </mat-error>
            }
        </mat-form-field>
        <mat-form-field class="half-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required type="email">
            @if (form.get('email')?.hasError('required')) {
            <mat-error>
                Email is required
            </mat-error>
            }
            @if (form.get('email')?.hasError('email')) {
            <mat-error>
                Please enter a valid email
            </mat-error>
            }

        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
        </mat-form-field>

        <mat-form-field class="half-width">
            <mat-label>Topic</mat-label>
            <mat-select formControlName="topic">
                <mat-option value="support">Support</mat-option>
                <mat-option value="sales">Sales</mat-option>
                <mat-option value="feedback">Feedback</mat-option>
            </mat-select>
        </mat-form-field>


        <div>
            <input formControlName="priority" type="radio" name="priority" value="low" id="low" />
            <label for="low">Low</label>

            <input formControlName="priority" type="radio" name="priority" value="medium" id="medium" />
            <label for="medium">Medium</label>

            <input formControlName="priority" type="radio" name="priority" value="high" id="high" />
            <label for="high">high</label>
        </div>

        <div>
            <input formControlName="subscribe" type="checkbox" name="subscribe" value="subscribe" id="subscribe" />
            <label for="subscribe">Subscribe for updates</label>
        </div>

        <div class="form-field">
            <label for="contact-date">Preferred Contact Date</label>
            <input type="date" formControlName="contactDate" id="contact-date" name="contact-date">
        </div>

        <button type="submit" [disabled]="form.invalid">
            Submit
        </button>
    </form>
</div>