/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'theme-colors' as theme;

html {
	color-scheme: light;
	@include mat.theme((color: theme.$primary-palette));

	@media (prefers-contrast: more) {
		 @include theme.high-contrast-overrides('light');
		}
}

.tertiary {
	@include mat.theme((color: theme.$tertiary-palette));
}

.secondary {
	@include mat.theme((color: theme.$secondary-palette));
}

.error {
	@include mat.theme((color: theme.$error-palette));
}

.text-error {
	color: var(--mat-sys-error);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
