/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'theme-colors' as theme;

html {
	@include mat.button-overrides((filled-container-shape: 5px,
				text-container-shape: 5px,
				outlined-container-shape: 5px,
				protected-container-shape: 5px));

	@media (prefers-contrast: more) {
		@include theme.high-contrast-overrides('light');
	}
}

.light-red {
	color-scheme: light;
	@include mat.theme((color: mat.$red-palette ));
}

.dark-red {
	color-scheme: dark;
	@include mat.theme((color: mat.$red-palette ));
}

.light-blue {
	color-scheme: light;
	@include mat.theme((color: mat.$blue-palette ));
}

.dark-blue {
	color-scheme: dark;
	@include mat.theme((color: mat.$blue-palette ));
}

.light-green {
	color-scheme: light;
	@include mat.theme((color: mat.$green-palette ));
}

.dark-green {
	color-scheme: dark;
	@include mat.theme((color: mat.$green-palette ));
}

.tertiary {
	@include mat.theme((color: theme.$tertiary-palette));
	@include mat.button-overrides((filled-container-shape: 5px,
				text-container-shape: 5px,
				outlined-container-shape: 5px,
				protected-container-shape: 5px));
}

.secondary {
	@include mat.theme((color: theme.$secondary-palette));
	@include mat.button-overrides((filled-container-shape: 5px,
				text-container-shape: 5px,
				outlined-container-shape: 5px,
				protected-container-shape: 5px));
}

.error {
	@include mat.theme((color: theme.$error-palette));
	@include mat.button-overrides((filled-container-shape: 5px,
				text-container-shape: 5px,
				outlined-container-shape: 5px,
				protected-container-shape: 5px));
}

.text-error {
	color: var(--mat-sys-error);
}

.theme-builder {
	@include mat.theme-overrides((primary: #6750a4,
			on-primary: #ffffff,
			primary-container: #e9ddff,
			on-primary-container: #22005d,
			inverse-primary: #cfbcff,
			primary-fixed: #e9ddff,
			primary-fixed-dim: #cfbcff,
			on-primary-fixed: #22005d,
			on-primary-fixed-variant: #4f378a,
			secondary: #625b70,
			on-secondary: #ffffff,
			secondary-container: #e8def8,
			on-secondary-container: #1e192b,
			secondary-fixed: #e8def8,
			secondary-fixed-dim: #ccc2db,
			on-secondary-fixed: #1e192b,
			on-secondary-fixed-variant: #4a4458,
			tertiary: #7e5260,
			on-tertiary: #ffffff,
			tertiary-container: #ffd9e3,
			on-tertiary-container: #31101d,
			tertiary-fixed: #ffd9e3,
			tertiary-fixed-dim: #efb8c8,
			on-tertiary-fixed: #31101d,
			on-tertiary-fixed-variant: #633b48,
			background: #fdf8f8,
			on-background: #1c1b1c,
			surface: #fdf8f8,
			surface-dim: #ddd9d9,
			surface-bright: #fdf8f8,
			surface-container-lowest: #ffffff,
			surface-container-low: #f7f3f2,
			surface-container: #f1eded,
			surface-container-high: #ebe7e7,
			surface-container-highest: #e6e1e1,
			on-surface: #1c1b1c,
			shadow: #000000,
			scrim: #000000,
			surface-tint: #605d62,
			inverse-surface: #313030,
			inverse-on-surface: #f4f0f0,
			outline: #79767b,
			outline-variant: #cac5cb,
			neutral: #797676,
			neutral10: #1c1b1c,
			error: #ba1a1a,
			error-container: #ffdad6,
			on-error: #ffffff,
			on-error-container: #410002,
			surface-variant: #e6e1e7,
			on-surface-variant: #48464b,
			neutral-variant: #79767b,
			neutral-variant20: #322f34,
			inverse-secondary: #ccc2db,
			inverse-tertiary: #efb8c8,
		));
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}